/**
 * Updated to mimic VSCode Dark Mode
 */
.panel-header-title-navigation-item {
  cursor: pointer;
  min-width: 50px;
}
.panel-header-title-navigation-item:hover {
  opacity: 0.5;
}

.panel-base-wh {
  box-sizing: border-box;
}
.panel-base-wh .ro-icon {
  display: none;
  margin-right: 2px;
  position: absolute;
  top: 2px;
  left: 2px;
}
.panel-base-wh .panel-header {
  background-color: #1e1e1e;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
}
.panel-base-wh .panel-header .panel-header-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
  white-space: nowrap;
  margin-top: 8px;
  color: #d4d4d4;
}
.panel-base-wh .panel-header.absolute-header {
  border-bottom-width: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.panel-base-wh .panel-body {
  position: relative;
  background-color: #252526;
}
.panel-base-wh .floating-title {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0;
  text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.65;
  color: #d4d4d4;
}
.panel-base-wh .floating-title .ro-icon {
  position: relative;
  top: -1px;
  left: 2px;
  margin-right: 1.2ex;
}
.panel-base-wh .floating-title .panel-header-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
  white-space: nowrap;
  margin-top: 8px;
}
.panel-base-wh.read-only .ro-icon {
  display: inline-block;
}
.panel-base-wh.read-only .panel-body {
  background-color: #2d2d2d;
}
.panel-base-wh .absolute-header {
  border: 1px solid #3c3c3c;
}
.panel-base-wh.active-panel .panel-header {
  border-bottom-color: #007acc;
  background: #252526;
}
.panel-base-wh.active-panel .floating-title {
  opacity: 0.85;
  color: #4d4d4d;
}
.panel-base-wh.active-panel .absolute-header {
  border: 1px solid #007acc;
}
.panel-base-wh.w-tabs .floating-title {
  top: 30px;
}

.panel-base-scroll .panel-body {
  overflow: auto;
}

.side-panel .panel-base-wh {
  position: relative;
  padding: 0;
  margin-bottom: 2px;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #1e1e1e;
}
.side-panel .panel-base-wh .panel-header {
  padding: 0 3px;
  font-size: 0.85em;
  background-color: #1e1e1e;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.side-panel .panel-base-wh .panel-header .ro-icon {
  position: relative;
  top: 0;
  left: 0;
}
.side-panel .panel-base-wh .panel-header .panel-header-title {
  font-size: 0.85em;
  line-height: 0.85em;
  color: #999;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 0;
}
.side-panel .panel-base-wh .panel-header .panel-header-toolbar {
  display: block;
}
.side-panel .panel-base-wh .panel-body {
  background-color: #252526;
  padding: 0;
}
.side-panel .panel-base-wh.read-only .panel-body {
  background-color: #2d2d2d;
}
.side-panel .panel-base-wh.active-panel .panel-header {
  border-bottom-color: #007acc;
}

/*# sourceMappingURL=PanelBaseWithHeader.css.map */
