/**
 * Updated to mimic VSCode Dark Mode
 */
.webgme-toolbar,
.webgme-toolbar-ext {
  white-space: nowrap;
  color: #d4d4d4;
}
.webgme-toolbar .toolbar-button,
.webgme-toolbar-ext .toolbar-button {
  display: inline-block;
  position: relative;
}
.webgme-toolbar .toolbar-drag-item,
.webgme-toolbar-ext .toolbar-drag-item {
  display: inline-block;
  position: relative;
}
.webgme-toolbar .separator,
.webgme-toolbar-ext .separator {
  margin-left: 0;
  margin-right: 0;
  border-right: 1px solid #3c3c3c;
  width: 0;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.webgme-toolbar .btn-group,
.webgme-toolbar-ext .btn-group {
  margin-left: 0;
  margin-right: 0;
}
.webgme-toolbar .toolbar-input,
.webgme-toolbar-ext .toolbar-input {
  display: inline-block;
  margin-left: 2px;
  position: relative;
}
.webgme-toolbar .toolbar-label,
.webgme-toolbar-ext .toolbar-label {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  font-size: 12px;
  line-height: 22px;
  height: 22px;
  vertical-align: middle;
}
.webgme-toolbar .toolbar-checkbox,
.webgme-toolbar-ext .toolbar-checkbox {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  vertical-align: middle;
}
.webgme-toolbar .dropdown-menu,
.webgme-toolbar-ext .dropdown-menu {
  background-color: #1e1e1e;
}
.webgme-toolbar .dropdown-menu li .iCheckBox,
.webgme-toolbar-ext .dropdown-menu li .iCheckBox {
  top: 1px;
}
.webgme-toolbar .dropdown-menu li .dropdown-list-button.disabled,
.webgme-toolbar-ext .dropdown-menu li .dropdown-list-button.disabled {
  color: gray;
  cursor: not-allowed;
}
.webgme-toolbar .toolbar-colorpicker,
.webgme-toolbar-ext .toolbar-colorpicker {
  display: inline-block;
}
.webgme-toolbar .toolbar-colorpicker input,
.webgme-toolbar-ext .toolbar-colorpicker input {
  margin: 0;
  width: 20px;
  color: rgba(0, 0, 0, 0) !important;
}
.webgme-toolbar .toolbar-colorpicker.input-append, .webgme-toolbar .toolbar-colorpicker.input-prepend,
.webgme-toolbar-ext .toolbar-colorpicker.input-append,
.webgme-toolbar-ext .toolbar-colorpicker.input-prepend {
  margin-bottom: 0 !important;
}
.webgme-toolbar .toolbar-colorpicker.input-append .add-on i:hover, .webgme-toolbar .toolbar-colorpicker.input-prepend .add-on i:hover,
.webgme-toolbar-ext .toolbar-colorpicker.input-append .add-on i:hover,
.webgme-toolbar-ext .toolbar-colorpicker.input-prepend .add-on i:hover {
  cursor: pointer;
}

.webgme-toolbar-ext {
  position: absolute;
  right: 0;
  margin-top: 1px;
  padding: 0 3px 3px 0;
  background: #252526;
  border: 1px solid #3c3c3c;
  display: none;
  white-space: normal;
}
.webgme-toolbar-ext.shown {
  display: inline-block;
}
.webgme-toolbar-ext > div {
  margin-top: 2px;
}

.webgme-toolbar-ext-toggle {
  display: inline-block;
  position: absolute;
  right: 2px;
  top: 2px;
  background-color: #252526;
  height: 22px;
  width: 7px;
  cursor: pointer;
}
.webgme-toolbar-ext-toggle:hover {
  background-color: #007acc;
}
.webgme-toolbar-ext-toggle > i {
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  position: absolute;
  top: 8px;
  left: -3px;
}
.webgme-toolbar-ext-toggle > i:last-child {
  top: 11px;
}

div.toolbar-container {
  position: relative;
  overflow-x: visible;
  top: 34px;
  height: 30px;
  padding: 0;
}

div.toolbar-container .btn {
  border: 1px solid #3c3c3c;
  border-radius: 0;
  padding: 1px 5px;
  margin: 3px 5px !important;
  background-color: #1e1e1e;
  color: #d4d4d4;
  box-shadow: none;
}
div.toolbar-container .btn:hover {
  background-color: #007acc;
}

/*# sourceMappingURL=Toolbar.css.map */
